.NavbarHeader{
    background-color: #222;
    height: 86px;
    /* display: flex; */
}

.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.product{
    width: 16%;
    height: 50%;
    box-shadow: 0px 4px 10px rgb(166, 164, 164);
}

@media (max-width: 480px) {
    .product{
        width: 80%;
        height: 26%;
        margin-left: 13px;
        justify-content: center;
    }
    .product img{
        object-fit: cover;
    }
}

/* @media (max-width: 820px) {
    .product{
        width: 25%;
        justify-content: center;
    }
} */

.product:hover{
    z-index: 1;
    transform: scale(1.05); /* optional zoom effect */
    transition: transform 0.3s;
}

.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.details{
    padding: 16px;
}

.details button{
    /* background-color: white; */
    padding: 4px;
    width: 100%;
    border-radius: 10px;
}

.button{
    background-color: red;
    color: black;
}

/* Shopping page */

.navbar-shop{
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding: 16px;
}

@media (max-width: 480px) {
    .navbar-shop{
        font-size: 26px;
    }
}

.shop-icon{
    cursor: pointer;
    font-size: 46px;
    color: #e76d08;
    margin-right: 30px;
    margin-top: 20px;
}

@media (max-width : 480px) {
    .shop-icon{
        font-size: 40px;
    }
    .NavbarHeader{
        height: 76px;
    }
}

/* Cart page */

.cart-heading,
.cart-amt{
    font-size: 40px;
    font-weight: 600;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
    .cart-heading{
        font-size: 26px;
    }
    .back-to-product{
        margin-top: 10px;
        margin-right: 20px;
        font-size: 16px;
    }
}

.cart-header-flex{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    color: white;
}

.back-to-product{
    margin-right: 36px;
    margin-top: 22px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    color: white;
}

.cart-container{
    padding: 16px; 
}

.cart-product{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 480px) {
    .cart-product{
        flex-wrap: wrap;
    }
}

.img-product{
    width: 100%;
    height: 100%;
}

.cart-product .img{
    width: 100%;
    height: 100%;
}

.cart-product-details{
    font-size: 20px;
    margin-left: 21px;
}

.cart-des{
    text-align: justify;
    justify-content: center;
    margin-right: 46px;
}

.whole-quantity{
    display: flex;
}

.quantity{
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.total-price{
    font-size: 20px;
    margin-top: 16px;
    margin-left: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.cart-button-plus{
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
}

.cart-button-minus{
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
}

.remove-btn{
    background-color: red;
    margin-right: 20px;
    margin-left: 21px;
    border: none;
    padding: 14px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 11px;
}

.cart-whole-content{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Product List page */

.button{
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 16px;
    border: none;
    background-color: rgb(254, 176, 30);
}

.button:hover{
    background-color: orange;
}